epg-ingest/tv-anytime/2004/src/main/xsd/v13_am1/tva_metadata_v13_am1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by BDS (BBC Broadcasting Dataservices Ltd) -->
<!--

   Modified Version of TVA Spec For BDS

   Modified Date		: 04/11/2013
   Modified By			: Pierre Baekelmans MEDIAGENIX NG
   Identified By Comment	: SBSNL

-->
<schema targetNamespace="urn:tva:metadata:2004" xmlns:mpeg7="urn:mpeg:mpeg7:schema:2001" xmlns:tva="urn:tva:metadata:2004" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation xml:lang="en"> ======== ETSI TS 102 822-3-1 V1.1.1 (2003-05) SCHEMA --------
            This XML Schema file specifies normative metadata types for ETSI TS 102 822-3-1 V1.1.1
            (2003-05) -------- as modified by the draft amendment (TVA217r6) produced at the 28th Meeting
            of the TV-Anytime Forum, Shanghai, 15-18 June 2004 </documentation>
	</annotation>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="./xml_2001.xsd"/>
	<import namespace="urn:mpeg:mpeg7:schema:2001" schemaLocation="./mpeg7_tva.xsd"/>
	<annotation>
		<documentation xml:lang="en"> ======== Section 5.3.3 BASIC TYPES </documentation>
	</annotation>
	<simpleType name="TVAIDType">
		<restriction base="string">
			<whiteSpace value="collapse"/>
		</restriction>
	</simpleType>
	<simpleType name="TVAIDRefType">
		<restriction base="string">
			<whiteSpace value="collapse"/>
		</restriction>
	</simpleType>
	<simpleType name="TVAIDRefsType">
		<list itemType="tva:TVAIDRefType"/>
	</simpleType>
	<simpleType name="CRIDType">
		<restriction base="anyURI">
			<pattern value="(c|C)(r|R)(i|I)(d|D)://.*/.*"/>
		</restriction>
	</simpleType>
	<complexType name="CRIDRefType">
		<attribute name="crid" type="tva:CRIDType" use="required"/>
	</complexType>
	<complexType name="CRIDRefTypeStrand">
		<attribute name="crid" type="tva:CRIDType" use="required"/>
		<attribute name="strand" type="boolean" use="optional"/>
	</complexType>
	<complexType name="FlagType">
		<attribute name="value" type="boolean" use="required"/>
	</complexType>
	<complexType name="TVATimeType">
		<sequence>
			<element name="TimePoint" type="mpeg7:timePointType"/>
			<element name="Duration" type="mpeg7:durationType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="currencyCodeType">
		<restriction base="string">
			<pattern value="[a-zA-Z]{3}"/>
		</restriction>
	</simpleType>
	<complexType name="TermNameType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="preferred" type="boolean" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ControlledTermType">
		<sequence>
			<element name="Name" type="tva:TermNameType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Definition" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="href" type="mpeg7:termReferenceType" use="required"/>
	</complexType>
	<complexType name="StringControlledTermType">
		<sequence>
			<element name="Name" type="tva:TermNameType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Definition" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="href" type="string" use="required"/>
	</complexType>
	<complexType name="MultiLanguageType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="value" type="boolean" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="TVAIDRefElementType">
		<attribute name="ref" type="tva:TVAIDRefType" use="required"/>
	</complexType>
	<complexType name="TVAAgentType">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="PersonName" type="mpeg7:PersonNameType"/>
				<element name="PersonNameIDRef" type="tva:TVAIDRefElementType"/>
				<element name="OrganizationName" type="mpeg7:TextualType"/>
				<element name="OrganizationNameIDRef" type="tva:TVAIDRefElementType"/>
			</choice>
		</sequence>
	</complexType>
	<attributeGroup name="fragmentIdentification">
		<attribute name="fragmentId" type="tva:TVAIDType" use="optional"/>
		<attribute name="fragmentVersion" type="unsignedLong" use="optional"/>
	</attributeGroup>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.3.4 DESCRIPTION </documentation>
	</annotation>
	<complexType name="KeywordType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="type" use="optional" default="main">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="main"/>
							<enumeration value="secondary"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="GenreType">
		<complexContent>
			<extension base="tva:StringControlledTermType">
				<attribute name="type" use="optional" default="main">
					<simpleType>
						<restriction base="string">
							<enumeration value="main"/>
							<enumeration value="secondary"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="SynopsisLengthType">
		<restriction base="string">
			<enumeration value="short"/>
			<enumeration value="medium"/>
			<enumeration value="long"/>
		</restriction>
	</simpleType>
	<complexType name="SynopsisType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="length" type="tva:SynopsisLengthType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="segmentTypeType">
		<restriction base="string">
			<enumeration value="segment"/>
			<enumeration value="segmentgroup"/>
		</restriction>
	</simpleType>
	<complexType name="SegmentReferenceType">
		<attribute name="segmentType" type="tva:segmentTypeType" default="segment"/>
		<attribute name="ref" type="tva:TVAIDRefType" use="required"/>
	</complexType>
	<complexType name="RelatedMaterialType">
		<sequence>
			<element name="HowRelated" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="Format" type="tva:ControlledTermType" minOccurs="0"/>
			<choice>
				<element name="MediaLocator" type="mpeg7:MediaLocatorType"/>
				<element name="SegmentReference" type="tva:SegmentReferenceType"/>
			</choice>
			<element name="PromotionalText" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PromotionalMedia" type="mpeg7:TitleMediaType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SourceMediaLocator" type="mpeg7:MediaLocatorType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CreditsItemType">
		<complexContent>
			<extension base="tva:TVAAgentType">
				<sequence>
					<element name="Character" type="mpeg7:PersonNameType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="role" type="mpeg7:termReferenceType" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CreditsListType">
		<sequence>
			<element name="CreditsItem" type="tva:CreditsItemType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AwardType">
		<sequence>
			<element name="Category" type="mpeg7:TextualType"/>
			<choice minOccurs="0">
				<element name="Nominee" type="tva:CreditsItemType"/>
				<element name="Recipient" type="tva:CreditsItemType"/>
			</choice>
		</sequence>
	</complexType>
	<complexType name="AwardsListItemType">
		<sequence>
			<element name="Title" type="mpeg7:TextualType"/>
			<element name="Year" type="gYear"/>
			<element name="Award" type="tva:AwardType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AwardsListType">
		<sequence>
			<element name="AwardsListItem" type="tva:AwardsListItemType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ShortTitleType">
		<simpleContent>
			<extension base="mpeg7:TitleType">
				<attribute name="length" type="unsignedShort" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="CaptionLanguageType">
		<simpleContent>
			<extension base="language">
				<attribute name="closed" type="boolean" use="optional" default="true"/>
				<attribute name="supplemental" type="boolean" use="optional" default="false"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SignLanguageType">
		<simpleContent>
			<extension base="language">
				<attribute name="primary" type="boolean" use="optional"/>
				<attribute name="translation" type="boolean" use="optional"/>
				<attribute name="type" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="CreationCoordinatesType">
		<sequence>
			<element name="CreationDate" type="tva:TVATimeType" minOccurs="0"/>
			<element name="CreationLocation" type="mpeg7:regionCode" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="DepictedCoordinatesType">
		<sequence>
			<element name="DepictedDate" type="tva:TVATimeType" minOccurs="0"/>
			<element name="DepictedLocation" type="mpeg7:PlaceType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ReleaseDateType">
		<choice>
			<element name="DayAndYear" type="date"/>
			<element name="Year" type="gYear"/>
		</choice>
	</complexType>
	<complexType name="ReleaseInformationType">
		<sequence>
			<element name="ReleaseDate" type="tva:ReleaseDateType" minOccurs="0"/>
			<element name="ReleaseLocation" type="mpeg7:regionCode" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- BDS2502 Added ComplexType ProductionLocationType -->
	<complexType name="LocationCodeType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="code" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ProductionLocationType">
		<sequence>
			<element name="ProductionLocation" type="tva:LocationCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- BDS050208 Added ComplexType BroadcasterListType -->
	<complexType name="BroadcasterListType">
		<sequence>
			<element name="Broadcaster" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="code" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PurchaseItemType">
		<sequence>
			<element name="Price" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="currency" type="tva:currencyCodeType" use="required"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Purchase" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PurchaseType" type="tva:ControlledTermType" minOccurs="0"/>
						<element name="QuantityUnit" type="tva:ControlledTermType" minOccurs="0"/>
						<element name="QuantityRange" minOccurs="0">
							<complexType>
								<attribute name="min" type="unsignedInt" use="optional"/>
								<attribute name="max" type="unsignedInt" use="optional"/>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="Description" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PricingServerURL" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="start" type="dateTime" use="optional"/>
		<attribute name="end" type="dateTime" use="optional"/>
	</complexType>
	<complexType name="PurchaseListType">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="PurchaseItem" type="tva:PurchaseItemType"/>
				<element name="PurchaseIdRef" type="tva:TVAIDRefType"/>
			</choice>
		</sequence>
	</complexType>
	<!--BDS210208 Addition OtherTextElementType -->
	<complexType name="OtherTextElementType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="type" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- BDS ADDED RelationshipToSeriesType -->
	<complexType name="RelationshipToSeriesType">
		<attribute name="value" type="string" use="optional"/>
	</complexType>
	<!-- SBSNL Added ImageType ComplexType for SBS Netherlands -->
	<complexType name="ImageType">
		<simpleContent>
			<extension base="string">
				<attribute name="type" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="Portrait"/>
							<enumeration value="Landscape"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BasicContentDescriptionType">
		<sequence>
			<element name="Title" type="mpeg7:TitleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MediaTitle" type="mpeg7:TitleMediaType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ShortTitle" type="tva:ShortTitleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ParentSeriesTitle" type="string" minOccurs="0"/>
			<element name="Synopsis" type="tva:SynopsisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AwardsText" type="tva:SynopsisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OtherTextElement" type="tva:OtherTextElementType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PromotionalInformation" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Keyword" type="tva:KeywordType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Genre" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ParentalGuidance" type="mpeg7:ParentalGuidanceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Language" type="mpeg7:ExtendedLanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Subtitling" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CaptionLanguage" type="tva:CaptionLanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SignLanguage" type="tva:SignLanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreditsList" type="tva:CreditsListType" minOccurs="0"/>
			<element name="AwardsList" type="tva:AwardsListType" minOccurs="0"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ProductionDate" type="tva:TVATimeType" minOccurs="0"/>
			<element name="ProductionLocation" type="mpeg7:regionCode" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreationCoordinates" type="tva:CreationCoordinatesType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DepictedCoordinates" type="tva:DepictedCoordinatesType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ProductionLocationList" type="tva:ProductionLocationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReleaseInformation" type="tva:ReleaseInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Duration" type="duration" minOccurs="0"/>
			<element name="RelationshipToSeries" type="tva:RelationshipToSeriesType" minOccurs="0"/>
			<element name="OriginalAiringDate" type="string" minOccurs="0"/>
			<element name="PurchaseList" type="tva:PurchaseListType" minOccurs="0"/>
			<element name="TotalEpisodes" type="string" minOccurs="0"/>
			<element name="EpisodeNumber" type="string" minOccurs="0"/>
			<element name="Season" type="string" minOccurs="0"/>
			<element name="DistributorNumber" type="string" minOccurs="0"/>
			<element name="Image" type="tva:ImageType" minOccurs="0" maxOccurs="2"/>
			<!--BDS210208 Addition OtherTextElement -->
			<!--BDS2502 Addition AwardsText -->
			<!-- BDS2502 Addition - ProductionLocationList -->
			<!-- BDS1203 RelationshipToSeries richy added -->
			<!-- BDS1203 OriginalAiringDate added -->
			<!-- BDS0205 EpisodeNumber Added -->
			<!-- BDS0205 TotalEpisodes Added -->
			<!-- BDS0205 EpisodeNumber Added -->
			<!-- SBS NL DistributorNumber Added -->
			<!-- SBS NL Image Added -->
			<!-- SBS NL ParentSeriesTitle Added -->
			<!-- SBS NL Season Added -->
		</sequence>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.3.5 AUDIO AND VIDEO INFORMATION </documentation>
	</annotation>
	<complexType name="BitRateType">
		<simpleContent>
			<extension base="nonNegativeInteger">
				<attribute name="variable" type="boolean" use="optional" default="false"/>
				<attribute name="minimum" type="unsignedLong" use="optional"/>
				<attribute name="average" type="unsignedLong" use="optional"/>
				<attribute name="maximum" type="unsignedLong" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AudioAttributesType">
		<sequence>
			<element name="Coding" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="NumOfChannels" type="unsignedShort" minOccurs="0"/>
			<element name="MixType" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="AudioLanguage" type="tva:AudioLanguageType" minOccurs="0"/>
			<element name="MultiLanguage" type="tva:MultiLanguageType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="VideoAttributesType">
		<sequence>
			<element name="Coding" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="Scan" type="tva:ScanType" minOccurs="0"/>
			<element name="HorizontalSize" type="unsignedShort" minOccurs="0"/>
			<element name="VerticalSize" type="unsignedShort" minOccurs="0"/>
			<element name="FrameRate" type="unsignedShort" minOccurs="0"/>
			<element name="AspectRatio" type="tva:AspectRatioType" minOccurs="0" maxOccurs="2"/>
			<element name="Color" type="tva:ColorType" minOccurs="0"/>
			<!-- BDS2502 Added FrameRate -->
		</sequence>
	</complexType>
	<complexType name="AudioLanguageType">
		<simpleContent>
			<extension base="mpeg7:ExtendedLanguageType">
				<attribute name="purpose" type="mpeg7:termReferenceType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AVAttributesType">
		<sequence>
			<element name="FileFormat" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="FileSize" type="unsignedLong" minOccurs="0"/>
			<element name="System" type="tva:ControlledTermType" minOccurs="0"/>
			<element name="BitRate" type="tva:BitRateType" minOccurs="0"/>
			<element name="AudioAttributes" type="tva:AudioAttributesType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="VideoAttributes" type="tva:VideoAttributesType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="ScanType">
		<restriction base="string">
			<enumeration value="interlaced"/>
			<enumeration value="progressive"/>
		</restriction>
	</simpleType>
	<complexType name="ColorType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="type" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="color"/>
							<enumeration value="blackAndWhite"/>
							<enumeration value="blackAndWhiteAndColor"/>
							<enumeration value="colorized"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="RatioType">
		<restriction base="string">
			<pattern value="\d+:\d+|.*"/>
		</restriction>
	</simpleType>
	<complexType name="AspectRatioType">
		<simpleContent>
			<extension base="tva:RatioType">
				<attribute name="type" use="optional" default="original">
					<simpleType>
						<restriction base="string">
							<enumeration value="original"/>
							<enumeration value="publication"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.3.6 PROGRAMME INFORMATION </documentation>
	</annotation>
	<complexType name="AggregationOfType">
		<sequence>
			<element name="AggregatedProgram" type="tva:CRIDRefType" minOccurs="2" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="type" use="required">
			<simpleType>
				<restriction base="string">
					<enumeration value="omnibus"/>
					<enumeration value="magazine"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="BaseMemberOfSeriesType" abstract="true"/>
	<complexType name="MemberOfSeriesType">
		<complexContent>
			<extension base="tva:BaseMemberOfType">
				<attribute name="lastInSeries" type="boolean" use="optional" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProgramInformationType">
		<sequence>
			<element name="BasicDescription" type="tva:BasicContentDescriptionType"/>
			<element name="CustomerDVBID" type="string" minOccurs="0"/>
			<element name="AVAttributes" type="tva:AVAttributesType" minOccurs="0"/>
			<element name="MemberOf" type="tva:BaseMemberOfType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DerivedFrom" type="tva:DerivedFromType" minOccurs="0"/>
			<element name="EpisodeOf" type="tva:EpisodeOfType" minOccurs="0"/>
			<element name="EpisodeNumber" type="string" minOccurs="0"/>
			<element name="EpisodeID" type="string" minOccurs="0"/>
			<element name="PartOfAggregatedProgram" type="tva:CRIDType" minOccurs="0"/>
			<element name="AggregationOf" type="tva:AggregationOfType" minOccurs="0"/>
			<!-- BDS1203 CustomerDVBID added -->
			<!-- BDS1203           
            <element name="OtherIdentifier" type="mpeg7:UniqueIDType" minOccurs="0" maxOccurs="unbounded"/>
-->
			<!-- BDS1203 - Was moved for ITVVOD Other Identifier Moved from above -->
			<!-- BDS1203 EpisodeNumber added -->
			<!-- BDS1203 EpisodeID added -->
		</sequence>
		<attribute name="programId" type="tva:CRIDType" use="required"/>
		<attribute name="strand" type="boolean" use="optional"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<complexType name="EpisodeOfType">
		<complexContent>
			<extension base="tva:BaseMemberOfType"/>
		</complexContent>
	</complexType>
	<complexType name="BaseMemberOfType" abstract="true">
		<complexContent>
			<extension base="tva:CRIDRefType">
				<attribute name="index" type="unsignedInt" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MemberOfType">
		<complexContent>
			<extension base="tva:BaseMemberOfType"/>
		</complexContent>
	</complexType>
	<complexType name="BaseDerivationReasonType" abstract="true"/>
	<complexType name="DerivationReasonType">
		<complexContent>
			<extension base="tva:BaseDerivationReasonType">
				<attribute name="value" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="violence"/>
							<enumeration value="language"/>
							<enumeration value="sex"/>
							<enumeration value="duration"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DerivedFromType">
		<complexContent>
			<extension base="tva:BaseMemberOfType">
				<sequence>
					<element name="DerivationReason" type="tva:BaseDerivationReasonType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.3.7 GROUP INFORMATION </documentation>
	</annotation>
	<complexType name="BaseProgramGroupTypeType" abstract="true"/>
	<complexType name="ProgramGroupTypeType">
		<complexContent>
			<extension base="tva:BaseProgramGroupTypeType">
				<attribute name="value" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="series"/>
							<enumeration value="show"/>
							<enumeration value="programConcept"/>
							<enumeration value="programCompilation"/>
							<enumeration value="otherCollection"/>
							<enumeration value="otherChoice"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GroupInformationType">
		<sequence>
			<element name="GroupType" type="tva:BaseProgramGroupTypeType"/>
			<element name="BasicDescription" type="tva:BasicContentDescriptionType"/>
			<element name="MemberOf" type="tva:BaseMemberOfType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="groupId" type="tva:CRIDType" use="required"/>
		<attribute name="strand" type="boolean" use="optional"/>
		<attribute name="ordered" type="boolean" use="optional" default="false"/>
		<attribute name="numOfItems" type="unsignedInt" use="optional"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.3.8 MEDIA REVIEW DS </documentation>
	</annotation>
	<complexType name="ReviewerType">
		<complexContent>
			<extension base="tva:TVAAgentType">
				<sequence>
					<element name="Publication" type="mpeg7:TextualType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MediaReviewType">
		<sequence>
			<element name="Rating" type="mpeg7:RatingType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="FreeTextReview" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Reviewer" type="tva:ReviewerType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReviewReference" type="anyURI" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ReviewType">
		<complexContent>
			<extension base="tva:MediaReviewType">
				<attribute name="programId" type="tva:CRIDType" use="required"/>
				<attribute name="strand" type="boolean" use="optional"/>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProgramReviewTableType">
		<sequence>
			<element name="Review" type="tva:ReviewType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.4.2 PROGRAM LOCATION </documentation>
	</annotation>
	<simpleType name="InstanceMetadataIdType">
		<restriction base="anyURI">
			<pattern value="(i|I)(m|M)(i|I):(([^/]+)/)?([^/]+)"/>
		</restriction>
	</simpleType>
	<complexType name="ProgramLocationType" abstract="true">
	<!-- Added TransmissionID Element for SBS Netherlands -->
		<sequence>
			<element name="TransmissionID" type="string" minOccurs="0"/>
			<element name="Program" type="tva:CRIDRefTypeStrand"/>
			<element name="ProgramURL" type="string" minOccurs="0"/>
			<element name="BroadcasterRawData" type="string" minOccurs="0"/>
			<element name="InstanceMetadataId" type="tva:InstanceMetadataIdType" minOccurs="0"/>
			<element name="InstanceDescription" type="tva:InstanceDescriptionType" minOccurs="0"/>
			<!--BDS2502 Added BroadcasterRawData -->
		</sequence>
	</complexType>
	<complexType name="ScheduleType">
		<sequence>
			<element name="ScheduleEvent" type="tva:ScheduleEventType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="serviceIDRef" type="tva:TVAIDRefType" use="required"/>
		<attribute name="start" type="dateTime" use="optional"/>
		<attribute name="end" type="dateTime" use="optional"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
		<attribute name="releaseVersion" type="unsignedLong" use="optional"/>
	</complexType>
	<complexType name="ScheduleEventType">
		<complexContent>
			<extension base="tva:ProgramLocationType">
				<sequence>
					<element name="CustomerDVBID" type="string" minOccurs="0"/>
					<element name="CustomerMatRef" type="string" minOccurs="0"/>
					<element name="BroadcasterEventID" type="string" minOccurs="0"/>
					<element name="PublishedStartTime" type="dateTime" minOccurs="0"/>
					<element name="PublishedEndTime" type="dateTime" minOccurs="0"/>
					<element name="PublishedDuration" type="duration" minOccurs="0"/>
					<element name="Live" type="tva:FlagType" minOccurs="0"/>
					<element name="isLive" type="string" minOccurs="0"/>
					<element name="Repeat" type="tva:FlagType" minOccurs="0"/>
					<element name="RepeatText" type="string" minOccurs="0"/>
					<element name="FirstShowing" type="tva:FlagType" minOccurs="0"/>
					<element name="LastShowing" type="tva:FlagType" minOccurs="0"/>
					<element name="Free" type="tva:FlagType" minOccurs="0"/>
					<element name="BroadcasterList" type="tva:BroadcasterListType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="OtherIdentifier" type="mpeg7:UniqueIDType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="DownloadAsset" type="tva:FlagType" minOccurs="0"/>
					<element name="SimulcastAsset" type="tva:FlagType" minOccurs="0"/>
					<!-- BDS1203 Added CustomerDVBID -->
					<!-- BDS1403 Added CustomerMatRef -->
					<!-- BDS         Added BroadcasterEventID -->
					<!-- BDS2502 Added RepeatText -->
					<!-- BDS2502 Added BroadcasterList -->
					<!-- BDS1203 Added DownloadAsset -->
					<!-- BDS1203 Added SimulcastAsset -->
					<!-- SBSNL Added isLive -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BroadcastEventType">
		<complexContent>
			<extension base="tva:ScheduleEventType">
				<attribute name="serviceIDRef" type="tva:TVAIDRefType" use="optional"/>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OnDemandProgramType">
		<complexContent>
			<extension base="tva:ProgramLocationType">
				<sequence>
					<element name="PublishedDuration" type="duration" minOccurs="0"/>
					<element name="StartOfAvailability" type="dateTime" minOccurs="0"/>
					<element name="EndOfAvailability" type="dateTime" minOccurs="0"/>
					<element name="FirstAvailability" type="tva:FlagType" minOccurs="0"/>
					<element name="LastAvailability" type="tva:FlagType" minOccurs="0"/>
					<element name="ImmediateViewing" type="tva:FlagType" minOccurs="0"/>
				</sequence>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OnDemandServiceType">
		<sequence>
			<element name="OnDemandProgram" type="tva:OnDemandProgramType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="serviceIDRef" type="tva:TVAIDRefType" use="required"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<complexType name="InstanceDescriptionType">
		<sequence>
			<element name="Title" type="mpeg7:TitleType" minOccurs="0"/>
			<element name="Synopsis" type="tva:SynopsisType" minOccurs="0"/>
			<element name="Genre" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AVAttributes" type="tva:AVAttributesType" minOccurs="0"/>
			<element name="MemberOf" type="tva:BaseMemberOfType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EpisodeOf" type="tva:BaseMemberOfType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PurchaseList" type="tva:PurchaseListType" minOccurs="0"/>
			<!-- BDS280307 EpisodeOf Added -->
		</sequence>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.4.3 SERVICE INFORMATION </documentation>
	</annotation>
	<simpleType name="ServiceInformationNameLengthType">
		<restriction base="string">
			<enumeration value="short"/>
			<enumeration value="medium"/>
			<enumeration value="long"/>
		</restriction>
	</simpleType>
	<complexType name="ServiceInformationNameType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="length" type="tva:ServiceInformationNameLengthType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ValidPeriodType">
		<sequence>
			<element name="ValidFrom" type="dateTime" minOccurs="0"/>
			<element name="ValidTo" type="dateTime" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ServiceRefType">
		<sequence>
			<element name="ValidPeriod" type="tva:ValidPeriodType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="serviceIDRef" type="tva:TVAIDRefType" use="required"/>
	</complexType>
	<!-- BDS230307 TripletType added -->
	<complexType name="TripletType">
		<sequence>
			<element name="LCN" type="string" minOccurs="0"/>
			<element name="ONID" type="string" minOccurs="0"/>
			<element name="TSID" type="string" minOccurs="0"/>
			<element name="SID" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- BDS230307 DVBTripletTableType added -->
	<complexType name="DvbTripletTableType">
		<sequence>
			<element name="Triplet" type="tva:TripletType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- BDS050208 ServiceTypeTableType added -->
	<complexType name="ServiceTypeTableType">
		<sequence>
			<element name="ServiceType" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ServiceInformationType">
		<sequence>
			<element name="Name" type="tva:ServiceInformationNameType" maxOccurs="unbounded"/>
			<element name="Owner" type="string" minOccurs="0"/>
			<element name="ServiceURL" type="anyURI" minOccurs="0"/>
			<element name="Logo" type="mpeg7:MediaLocatorType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceDescription" type="tva:SynopsisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceTypeTable" type="tva:ServiceTypeTableType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceGenre" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ServiceLanguage" type="language" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ParentService" type="tva:ServiceRefType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DvbTripletTable" type="tva:DvbTripletTableType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- BDS 050208 Added ServiceTypeTable -->
			<!-- BDS230307 Added DVBTripletTable -->
		</sequence>
		<attribute name="serviceId" type="tva:TVAIDType" use="required"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.5 CONSUMER METADATA (mostly imported from
            MPEG-7; see MPEG7_tva.xsd) </documentation>
	</annotation>
	<complexType name="UserActionType">
		<complexContent>
			<extension base="mpeg7:UserActionType">
				<sequence>
					<element name="ProgramLocation" type="anyURI" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.6 SEGMENTATION METADATA </documentation>
	</annotation>
	<complexType name="BasicSegmentDescriptionType">
		<sequence>
			<element name="Title" type="mpeg7:TitleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Synopsis" type="tva:SynopsisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Genre" type="tva:GenreType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Keyword" type="tva:KeywordType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RelatedMaterial" type="tva:RelatedMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreditsList" type="tva:CreditsListType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TVAMediaRelIncrTimePointType">
		<simpleContent>
			<restriction base="mpeg7:MediaRelIncrTimePointType">
				<attribute name="mediaTimeUnit" type="mpeg7:mediaDurationType" use="optional" default="PT1N1000F"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="TVAMediaTimeType">
		<sequence>
			<choice>
				<element name="MediaRelTimePoint" type="mpeg7:MediaRelTimePointType"/>
				<element name="MediaRelIncrTimePoint" type="tva:TVAMediaRelIncrTimePointType"/>
			</choice>
			<choice minOccurs="0">
				<element name="MediaDuration" type="mpeg7:mediaDurationType"/>
				<element name="MediaIncrDuration" type="mpeg7:MediaIncrDurationType"/>
			</choice>
		</sequence>
	</complexType>
	<complexType name="TimeBaseReferenceType">
		<sequence>
			<choice>
				<element name="MediaTimePoint" type="mpeg7:mediaTimePointType"/>
				<element name="MediaRelIncrTimePoint" type="mpeg7:MediaRelIncrTimePointType"/>
			</choice>
		</sequence>
		<attribute name="timebaseId" type="string"/>
	</complexType>
	<complexType name="SegmentInformationType">
		<sequence>
			<element name="ProgramRef" type="tva:CRIDRefType" minOccurs="0"/>
			<element name="TimeBaseReference" type="tva:TimeBaseReferenceType" minOccurs="0"/>
			<element name="Description" type="tva:BasicSegmentDescriptionType" minOccurs="0"/>
			<element name="SegmentLocator" type="tva:TVAMediaTimeType"/>
			<element name="KeyFrameLocator" type="tva:TVAMediaTimeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="segmentId" type="tva:TVAIDType" use="required"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<complexType name="GroupIntervalType">
		<attribute name="ref" type="tva:TVAIDRefType" use="optional"/>
	</complexType>
	<complexType name="SegmentsType">
		<attribute name="refList" type="tva:TVAIDRefsType" use="required"/>
	</complexType>
	<complexType name="GroupsType">
		<attribute name="refList" type="tva:TVAIDRefsType" use="required"/>
	</complexType>
	<complexType name="SegmentGroupInformationType">
		<sequence>
			<element name="ProgramRef" type="tva:CRIDRefType"/>
			<element name="TimeBaseReference" type="tva:TimeBaseReferenceType" minOccurs="0"/>
			<element name="GroupType" type="tva:BaseSegmentGroupTypeType" maxOccurs="unbounded"/>
			<element name="Description" type="tva:BasicSegmentDescriptionType" minOccurs="0"/>
			<element name="GroupInterval" type="tva:GroupIntervalType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="Segments" type="tva:SegmentsType"/>
				<element name="Groups" type="tva:GroupsType"/>
			</choice>
			<element name="KeyFrameLocator" type="tva:TVAMediaTimeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="groupId" type="tva:TVAIDType" use="required"/>
		<attribute name="strand" type="boolean" use="optional"/>
		<attribute name="ordered" type="boolean" use="optional" default="true"/>
		<attribute name="numberOfSegments" type="unsignedShort" use="optional"/>
		<attribute name="numberOfKeyFrames" type="unsignedShort" use="optional"/>
		<attribute name="duration" type="mpeg7:mediaDurationType" use="optional"/>
		<attribute name="topLevel" type="boolean" use="optional"/>
		<attributeGroup ref="tva:fragmentIdentification"/>
	</complexType>
	<complexType name="BaseSegmentGroupTypeType" abstract="true"/>
	<complexType name="SegmentGroupTypeType">
		<complexContent>
			<extension base="tva:BaseSegmentGroupTypeType">
				<attribute name="value" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="highlights"/>
							<enumeration value="highlights/objects"/>
							<enumeration value="highlights/events"/>
							<enumeration value="bookmarks"/>
							<enumeration value="bookmarks/objects"/>
							<enumeration value="bookmarks/events"/>
							<enumeration value="themeGroup"/>
							<enumeration value="preview"/>
							<enumeration value="preview/title"/>
							<enumeration value="preview/slideshow"/>
							<enumeration value="tableOfContents"/>
							<enumeration value="synopsis"/>
							<enumeration value="shots"/>
							<enumeration value="insertionPoints"/>
							<enumeration value="alternativeGroups"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SegmentListType">
		<sequence>
			<element name="SegmentInformation" type="tva:SegmentInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="SegmentGroupListType">
		<sequence>
			<element name="SegmentGroupInformation" type="tva:SegmentGroupInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="SegmentInformationTableType">
		<sequence>
			<element name="SegmentList" type="tva:SegmentListType" minOccurs="0"/>
			<element name="SegmentGroupList" type="tva:SegmentGroupListType"/>
		</sequence>
	</complexType>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.7.1 INFORMATION TABLES </documentation>
	</annotation>
	<complexType name="ProgramInformationTableType">
		<sequence>
			<element name="ProgramInformation" type="tva:ProgramInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="copyrightNotice" type="string" use="optional"/>
	</complexType>
	<complexType name="GroupInformationTableType">
		<sequence>
			<element name="GroupInformation" type="tva:GroupInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="copyrightNotice" type="string" use="optional"/>
	</complexType>
	<complexType name="ProgramLocationTableType">
		<sequence>
			<element name="Schedule" type="tva:ScheduleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="BroadcastEvent" type="tva:BroadcastEventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnDemandProgram" type="tva:OnDemandProgramType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnDemandService" type="tva:OnDemandServiceType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="copyrightNotice" type="string" use="optional"/>
	</complexType>
	<complexType name="ServiceInformationTableType">
		<sequence>
			<element name="ServiceInformation" type="tva:ServiceInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="copyrightNotice" type="string" use="optional"/>
	</complexType>
	<complexType name="TVAPersonNameType">
		<complexContent>
			<extension base="mpeg7:PersonNameType">
				<attribute name="personNameId" type="tva:TVAIDType" use="required"/>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OrganizationNameType">
		<simpleContent>
			<extension base="mpeg7:TextualType">
				<attribute name="organizationNameId" type="tva:TVAIDType" use="required"/>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="CreditsInformationTableType">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="PersonName" type="tva:TVAPersonNameType"/>
				<element name="OrganizationName" type="tva:OrganizationNameType"/>
			</choice>
		</sequence>
		<attribute name="copyrightNotice" type="string" use="optional"/>
	</complexType>
	<complexType name="PurchaseInformationType">
		<complexContent>
			<extension base="tva:PurchaseItemType">
				<attribute name="purchaseId" type="tva:TVAIDType" use="required"/>
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PurchaseInformationTableType">
		<sequence>
			<element name="PurchaseInformation" type="tva:PurchaseInformationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="TVAContentLinks">
		<complexType>
			<sequence>
				<element name="RelatedMaterial" type="tva:RelatedMaterialType" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<annotation>
		<documentation xml:lang="en"> ======== Section 6.7.2 TV-ANYTIME PROGRAM INFORMATION DOCUMENT </documentation>
	</annotation>
	<element name="TVAMain" type="tva:TVAMainType"/>
	<complexType name="TVAMainType">
		<sequence>
			<element name="CopyrightNotice" type="string" minOccurs="0"/>
			<element name="ClassificationSchemeTable" type="tva:ClassificationSchemeTableType" minOccurs="0"/>
			<element name="ProgramDescription" type="tva:ProgramDescriptionType" minOccurs="0"/>
			<element name="UserDescription" type="tva:UserDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute ref="xml:lang" use="optional" default="en"/>
		<attribute name="publisher" type="string" use="optional"/>
		<attribute name="publicationTime" type="dateTime" use="optional"/>
		<attribute name="rightsOwner" type="string" use="optional"/>
		<attribute name="version" type="unsignedInt" use="optional"/>
	</complexType>
	<complexType name="UserDescriptionType">
		<sequence>
			<element name="UserPreferences" type="mpeg7:UserPreferencesType" minOccurs="0"/>
			<element name="UsageHistory" type="mpeg7:UsageHistoryType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CSAliasType">
		<complexContent>
			<extension base="mpeg7:ClassificationSchemeAliasType">
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ClassificationSchemeType">
		<complexContent>
			<extension base="mpeg7:ClassificationSchemeType">
				<attributeGroup ref="tva:fragmentIdentification"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ClassificationSchemeTableType">
		<sequence>
			<element name="CSAlias" type="tva:CSAliasType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ClassificationScheme" type="tva:ClassificationSchemeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ProgramDescriptionType">
		<sequence>
			<element name="ProgramInformationTable" type="tva:ProgramInformationTableType" minOccurs="0"/>
			<element name="GroupInformationTable" type="tva:GroupInformationTableType" minOccurs="0"/>
			<element name="ProgramLocationTable" type="tva:ProgramLocationTableType" minOccurs="0"/>
			<element name="ServiceInformationTable" type="tva:ServiceInformationTableType" minOccurs="0"/>
			<element name="CreditsInformationTable" type="tva:CreditsInformationTableType" minOccurs="0"/>
			<element name="ProgramReviewTable" type="tva:ProgramReviewTableType" minOccurs="0"/>
			<element name="SegmentInformationTable" type="tva:SegmentInformationTableType" minOccurs="0"/>
			<element name="PurchaseInformationTable" type="tva:PurchaseInformationTableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
