epg-ingest/src/main/xsd/import/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://video-metadata.tv4.se/common/v1" targetNamespace="http://video-metadata.tv4.se/common/v1" version="1.0">

	<!-- Important note about xs:dateTime: Time zone is UTC if not specified. Possible future change may add a separate type for dateTimes that enforce use of time zone. -->

	<!-- Common types used in all XSDs -->
	<xs:simpleType name="idType">
		<xs:annotation>
			<xs:documentation>A general ID type for entities
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z:_\-\.#@]+" />
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="nidType">
		<xs:annotation>
			<xs:documentation>Unique name id, i.e. the normalized textual
				representation, e.g.: no space, lower case, no diacritic characters.
				Language attribute can be used to specify a
				localized name for the
				tag.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z\-]+" />
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="description">
		<xs:annotation>
			<xs:documentation> A general type for describing something, attribute
				indicating the language.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="xs:language">
					<xs:annotation>
						<xs:documentation> code in ISO 639-1 Note that the language here
							refers to the language on which the description is made.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="externalReferenceListType">
		<xs:sequence>
			<xs:element name="externalReference" type="externalReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of external resources that can used to
						connect/boost the content data with.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="externalReferenceType">
		<xs:sequence>
			<xs:element name="provider" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Who is the provides for the extend data that can
						be used for this content. It can for example be score24.com or
						IMDB.com
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data identifier to map this content to in the
						external provider/partners data
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Resource to use for reach the data at the
						provider
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="deviceTypeType">
		<xs:annotation>
			<xs:documentation>Controls the device type
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="web" />
			<xs:enumeration value="mob" />
			<xs:enumeration value="tab" />
			<xs:enumeration value="stb" />
			<xs:enumeration value="ott" />
			<xs:enumeration value="console" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="rightsType">
		<xs:sequence>
			<xs:element name="addProviderLogo" type="xs:boolean" default="true" />
			<xs:element name="timeshift" type="timeShiftDeviceTypeRights" minOccurs="0"></xs:element>
			<xs:element name="allowAds" type="xs:boolean" default="true" />
			<xs:element name="drmRestrictions" type="drmRestrictionsType" minOccurs="0" />
			<xs:element name="locationRestrictions" type="locationRestrictionsType" minOccurs="0" />
			<xs:element name="userOrGroupRestrictions" type="userOrGroupRestrictionsType" minOccurs="0" />
			<xs:element name="shareToList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="shareTo" type="shareToType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>youtube, facebook, twitter, ... (should/could
									be tags?)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="drmRestrictionsType">
		<xs:restriction base="xs:boolean"></xs:restriction>
	</xs:simpleType>
	<xs:complexType name="locationRestrictionsType">
		<xs:annotation>
			<xs:documentation>First add the includes, then remove the excludes.
				No includes specified is treated as allow all and no excludes
				specified is
				treated as no restriction.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="includeIpOrNetworks" type="ipAddressTypeListType" />
			<xs:element name="includeCountries" type="countryListType" />
			<xs:element name="excludeCountries" type="countryListType" />
			<xs:element name="includeLocals" type="nameListType" />
			<xs:element name="excludeLocals" type="nameListType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="userOrGroupRestrictionsType">
		<xs:annotation>
			<xs:documentation>First add the includes, then remove the excludes.
				No includes specified is treated as allow all and no excludes
				specified is
				treated as no restriction.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="includeUsers" type="nameListType" />
			<xs:element name="excludeUsers" type="nameListType" />
			<xs:element name="includeGroups" type="nameListType" />
			<xs:element name="excludeGroups" type="nameListType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ipAddressTypeListType">
		<xs:sequence>
			<xs:element name="ipAddress" type="ipAddressType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ipAddressType">
		<xs:annotation>
			<xs:documentation>Single Ipv4 (23.37.56.55) or IPv6 address, or a
				IPv4 subnet (2001:db8:0000::1) or a IPv6 subnet (2001:db8:0000::/36)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="localSpecificationListType">
		<xs:sequence>
			<xs:element name="local" type="localSpecificationType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="localSpecificationType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="countryListType">
		<xs:sequence>
			<xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>code in ISO 3166-1-alpha-2</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nameListType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="aspectRatioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="4:3" />
			<xs:enumeration value="16:9" />
			<xs:enumeration value="2.35:1" /><!-- CinemaScope -->
			<xs:enumeration value="21:9" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="timeShiftDeviceTypeRights">
		<xs:sequence>
			<xs:element name="catchUpRights" type="catchUpRightsType" minOccurs="0" maxOccurs="1">
			</xs:element>
			<xs:element name="startOverRights" type="startOverRightsType" minOccurs="0" maxOccurs="1">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="catchUpRightsType">
		<xs:sequence>
			<xs:element name="fastForward" type="xs:boolean" minOccurs="0"></xs:element>
			<xs:element name="rewind" type="xs:boolean" minOccurs="0">
			</xs:element>
			<xs:element name="pause" type="xs:boolean" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="startOverRightsType">
		<xs:sequence>
			<xs:element name="fastForward" type="xs:boolean" minOccurs="0"></xs:element>
			<xs:element name="rewind" type="xs:boolean" minOccurs="0">
			</xs:element>
			<xs:element name="pause" type="xs:boolean" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="shareToType">
		<!-- TODO : borde ange om det är en exclusive or excluding right -->
		<xs:annotation>
			<xs:documentation>Tag identifying the channel that is allowed for
				sharing. '*' to indicate all and anyware.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\*)|(\w+)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="propertyListType">
		<xs:sequence>
			<xs:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:annotation>
			<xs:documentation>A multi value property
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:Name" />
			<xs:element name="type" type="propertyTypeType" />
			<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="propertyTypeType">
		<xs:annotation>
			<xs:documentation>Definition of the typ of the property value content
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="string" />
			<xs:enumeration value="integer" />
			<xs:enumeration value="decimal" />
			<xs:enumeration value="url" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
