asset-ingest/xsd/content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://video-metadata.emp.ebsd.ericsson.net/content/v1" xmlns:common="http://video-metadata.emp.ebsd.ericsson.net/common/v1"
	xmlns:tagging="http://video-metadata.emp.ebsd.ericsson.net/tagging/v1" targetNamespace="http://video-metadata.emp.ebsd.ericsson.net/content/v1" version="1.0">
	<xs:import namespace="http://video-metadata.emp.ebsd.ericsson.net/common/v1" schemaLocation="common.xsd" />
	<xs:import namespace="http://video-metadata.emp.ebsd.ericsson.net/tagging/v1" schemaLocation="tagging.xsd" />

	<!-- -->
	<xs:element name="content" type="contentSeasonSeriesType">
		<xs:annotation>
			<xs:documentation>Root element for content object</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- -->
	<xs:complexType name="contentSeasonSeriesType">
		<xs:sequence>
			<xs:element name="series" type="seriesType" minOccurs="0" />
			<xs:element name="season" type="seasonType" minOccurs="0" />
			<xs:element name="content" type="contentType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="abstractContentType" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract type that holds attributes common to series, season and content</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="common:idType">
				<xs:annotation>
					<xs:documentation>unique id for asset, unique within each provider
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studio" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of production studio.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionYear" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[1-2][0-9][0-9][0-9]" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="countryOfOriginList" type="common:countryListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>list of production countries. Use country codes in IS0 3166-1-alpha-2
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleList" type="titleListType">
				<xs:annotation>
					<xs:documentation>Title list for content. At least one occurrence with the language used in the
						market/country displaying the content.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptionList" type="descriptionListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of descriptions
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tagList" type="tagListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>list of tags for the content.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditList" type="creditListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>list of actors, producers etc. should be consistent within each provider
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imageList" type="imageListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>list of content related images.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parentalRatingList" type="parentalRatingListType" minOccurs="0" />
			<xs:element name="additionalProperties" type="common:propertyListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="seriesType">
		<xs:complexContent>
			<xs:extension base="abstractContentType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="seasonType">
		<xs:complexContent>
			<xs:extension base="abstractContentType">
				<xs:sequence>
					<xs:element name="seriesId" type="common:idType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>id for season, not unique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="seasonNumber" type="xs:long" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Season number for the series.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numberOfEpisodes" type="xs:long" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If the content belongs to a series/season, this is the total number of episodes in
								that series/season.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="contentType">
		<xs:complexContent>
			<xs:extension base="abstractContentType">
				<xs:sequence>
					<xs:element name="contentType" type="contentTypeType" minOccurs="0" >
						<xs:annotation>
							<xs:documentation>Type of the content
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="seriesId" type="common:idType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>id for season, not unique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="seasonId" type="common:idType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>id for season, not unique. Only present if content is connected to a season.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contentIdRef" type="common:idType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to other content entity that is related. Use is for a 
								trailer to reference the original content.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="episodeNumber" type="xs:long" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Episode number for the program or "null" if no episode information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="contentTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="program" />
			<xs:enumeration value="movie" />
			<xs:enumeration value="trailer" />
			<xs:enumeration value="ad" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="titleListType">
		<xs:sequence>
			<xs:element name="title" type="titleType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="descriptionListType">
		<xs:annotation>
			<xs:documentation>Editorial text that describes the content, can be publically published.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="descriptionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commentListType">
		<xs:annotation>
			<xs:documentation>Editorial description that shall not be published, but it can be indexed in a search. Thought
				usage is to write down descriptive intro, manuscript or voice-over
				that applies to the content, Text is not
				required to be written to be ready for public view, but the content will be indexed and possible to use in a
				search.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="comment" type="descriptionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parentalRatingListType">
		<xs:sequence>
			<xs:element name="parentalRating" type="parentalRatingType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parentalRatingType">
        <xs:annotation>
            <xs:documentation>
                See http://en.wikipedia.org/wiki/Motion_picture_rating_system for more information about parental ratings.
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="rating" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Parental rating age in year.
                        0 years => No restriction.
                        Also see http://en.wikipedia.org/wiki/Motion_picture_rating_system for
                        more information.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="scheme" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Rating code that motivates the parental guidance.
                        Code to descriptive text is mapped in client GUI.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="country" type="xs:string" minOccurs="0">
            <xs:annotation>
                <xs:documentation>
                    Two char country code accoring to ISO 3166-1-alpha-2.
                    Empty or absent country attribute has the meaning that it is global default value for any country.
                    Specific country declaration overrides the default.
                    If country value is repeted, result is undefined which one to select.
                </xs:documentation>
            </xs:annotation>
        </xs:element>
		</xs:sequence>
        
	</xs:complexType>
	<xs:complexType name="tagListType">
		<xs:sequence>
			<xs:element name="tag" type="tagging:tagReferenceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="adTagListType">
		<!-- TODO: Why typed tag reference, when the type is implicit? Change tagging:tagReferenceType to a common:nidType", else move this to the tagList-->
		<xs:sequence>
			<xs:element name="adTag" type="tagging:tagReferenceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simpleTitleType">
		<xs:simpleContent>
			<xs:restriction base="simpleTextType">
				<xs:maxLength value="100" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="titleType">
		<xs:simpleContent>
			<xs:extension base="untypedTitleType">
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="untypedTitleType">
		<xs:simpleContent>
			<xs:restriction base="localizedTextType">
				<xs:maxLength value="300" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="descriptionType">
		<xs:simpleContent>
			<xs:extension base="untypedDescriptionType">
				<xs:attribute name="length" type="descriptionLengthType" use="optional">
					<xs:annotation>
						<xs:documentation>
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="descriptionLengthType">
		<xs:annotation>
			<xs:documentation>length (and content) of the description e.g, tiny may be 1-25 characters, short 26-140,medium
				141-240, long 241-999, extended > 1000
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="short" />
			<xs:enumeration value="medium" />
			<xs:enumeration value="long" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="untypedDescriptionType">
		<xs:simpleContent>
			<xs:restriction base="localizedTextType">
				<xs:maxLength value="3000" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="localizedTextType">
		<xs:annotation><xs:documentation>Localized text element with language attribute.</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="xs:language">
					<xs:annotation>
						<xs:documentation>code in ISO 639-1</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="creditListType">
		<xs:sequence>
			<xs:element name="credit" type="creditType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creditType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="rolename" type="xs:string" minOccurs="0" />
			<xs:element name="function" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="imageType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The id of the image from the origin system. For example
						it might be img_123.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="xs:string" />
			<xs:element name="width" type="xs:int">
				<xs:annotation>
					<xs:documentation>In unit px.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="height" type="xs:int">
				<xs:annotation>
					<xs:documentation>In unit px.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="purpose">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Purpose of image, initial intended usage for the image from source system.
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="banner" />
						<xs:enumeration value="poster" />
						<xs:enumeration value="logo" />
						<xs:enumeration value="other" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="orientation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="landscape" />
						<xs:enumeration value="portrait" />
						<xs:enumeration value="other" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="copyRightList" type="copyRightsListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="priority" type="xs:long">
			<xs:annotation>
				<xs:documentation>lower priority number means higher importance
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="imageListType">
		<xs:annotation>
			<xs:documentation>priority attribute on image element indicate "sort order", lower priority number means higher
				importance.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="image" type="imageType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="captionListType">
		<xs:sequence>
			<xs:element name="caption" type="common:description" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="copyRightsListType">
		<xs:sequence>
<!--
			<xs:element name="copyRight" type="common:description" minOccurs="0" maxOccurs="unbounded" />
-->
			<!--
				Use string instead of common:description since common:description
				requires language to be set. In most cases we don't have language
				in the input...
			 -->
			<xs:element name="copyRight" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mediaReferenceListType">
		<xs:sequence>
			<xs:element name="reference" type="mediaReferenceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mediaReferenceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="priority" type="xs:int">
					<xs:annotation>
						<xs:documentation>lower priority number means higher importance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="simpleTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="xs:language">
					<xs:annotation>
						<xs:documentation>code in ISO 639-1</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seriesListType">
		<xs:sequence>
			<xs:element name="series" type="seriesType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>content for this event, optional. if not set contentIdRef must be set
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="seasonListType">
		<xs:sequence>
			<xs:element name="season" type="seasonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>content for this event, optional. if not set contentIdRef must be set
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contentListType">
		<xs:sequence>
			<xs:element name="content" type="contentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Content for this event, optional. if not set contentIdRef must be set
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
