mrss/nowtilus-xml/src/main/xsd/mrss.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:media="http://search.yahoo.com/mrss/" xmlns:ad="http://vod.serverside.ai/mrss/">
    <xs:import namespace="http://search.yahoo.com/mrss/" schemaLocation="media.xsd"/>
    <xs:import namespace="http://vod.serverside.ai/mrss/" schemaLocation="ad.xsd"/>

    <xs:element name="rss">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="channel" type="channel"/>
            </xs:sequence>
            <xs:attribute type="xs:float" name="version"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="channel">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="link"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element maxOccurs="unbounded" type="itemType" name="item"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element ref="media:category"/>
            <xs:element maxOccurs="unbounded" ref="media:content"/>
            <xs:element ref="ad:cuepoints"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>